* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-toggler {
  padding: 0 !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.kerala-dev-logo img {
  width: 2rem;
  height: 2rem;
}
.custom-title {
  font-size: 1.2rem;
  font-weight: 500;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
