.center-text{
    text-align: center;
    margin-top: 50px;
}

/* Custom CSS */
.landing-image {
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle box shadow */
}

p{
    font-size: larger;
}

/* Add any custom styles here */
.center-text {
    text-align: center;
}

.kerala-dev-logo{
    margin-left: 5px;
    height: 40px;
}

.kerala-dev-logo img {
    width: 2rem;
    height: 2rem;
  }

.github-icon {
    padding: 10px;
    height: 40px;
}